

.stdropdown-menu{
  background-color: rgb(40, 38, 38);
}
.stdropdown-item{
  margin: 5px;
  background-color: rgb(40, 38, 38);
  color: aliceblue;
}
.stdropdown-item:hover{
  border-radius: 5px;
  background-color: #fff;
  color: rgb(40, 38, 38);
}
